<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_travel_guides_comment_path(@comment) %> |
<%= link_to 'Back', travel_guides_comments_path %>
